html {
  height: 99%;
  background-color: black;
}

body {
  min-height: 100%;
  background: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 10px top;
  background-attachment: fixed;
}
